/* === Nav === */
@media(max-width: 800px) {
    .nav {
        &__list {
            flex: 100%;
            flex-direction: column;
            text-align: center;
            transition: linear 0.205s;
            height: 280px;
        }

        &__item {
            margin: 0;
        }

        &__link {
            line-height: 60px;
        }

        &__bars {
            display: flex;
        }

        .hidden {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
    }
}

/* === Home === */
@media(max-width: 900px) {
    .home {
        flex-direction: column;
        padding: 160px 0 40px 0;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__title {
            font-size: 36px;
        }

        &__img {
            width: 100%;
        }

        &__content {
            width: 100%;
            margin: 0 0 40px;
        }

        &__btn {
            display: block;
            width: 200px;    
            margin: 0 auto 20px auto;     
            transition: ease 0.2s;   
        }
    }
}