/* === Nav === */
@media(max-width: 800px) {
    .nav {
        &__list {
            flex: 100%;
            flex-direction: column;
            text-align: center;
            transition: linear 0.205s;
            height: 280px;
        }

        &__item {
            margin: 0;
        }

        &__link {
            line-height: 60px;
        }

        &__bars {
            display: flex;
        }

        .hidden {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
    }
}

/* === Home === */
@media(max-width: 900px) {
    .home {
        flex-direction: column;
        padding: 160px 0 40px 0;
        text-align: center;

        &__title {
            font-size: 36px;
        }

        &__img {
            width: 90%;
        }

        &__content {
            width: 100%;
            margin: 0 0 40px;
        }

        &__btn {
            display: block;
            width: 200px;    
            margin: 0 auto 20px auto;     
            transition: ease 0.2s;   
        }
    }
}

@media(max-width: 600px) {
    .home {

        &__title {
            font-size: 26px;
            line-height: 1.4; 
        }

        &__description {
            font-size: 14px;
        }
    }
}

/* === Services === */
@media(max-width: 700px) {
    .services {
        padding: 50px 0;

        &__title {
            font-size: 22px;
            line-height: 1.4;
        }

        &__content {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 4vw;
        }

        &__paragraph {
            max-width: 90%;
            margin: 0 auto;
        }
    }
}

@media(max-width: 600px) {
    .services {

        &__paragraph {
            font-size: 14px;
        }
    }
}

/* === Reviews === */
@media(max-width: 900px) {
    .reviews {

        &__container {
            width: 60%;
        }
    }
}

@media(max-width: 600px) {
    .reviews {

        &__container {
            width: 100%;
        }

        &__title {
            font-size: 22px;
        }

        &__testimony {
            font-size: 18px;
            max-width: 300px;
            margin: 0 auto 40px auto;
        }
    }
}

/* === Prices === */
@media(max-width: 1000px) {
    .prices {

        &__content {
            grid-template-columns: repeat(2, 1fr);            
        }
    }
}

@media(max-width: 800px) {
    .prices {

        &__content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@media(max-width: 600px) {
    .prices {

        &__title {
            font-size: 22px;
        }

        &__description {
            font-size: 14px;
        }

        .card {

            &__icon {
                font-size: 28px;
            }

            &__title {
                font-size: 20px;
            }
    
            &__price {
                font-size: 30px;
            }
        }
    }

}