@import 'configs';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

body {
    background-color: #fcfcfc;
}

/* === Nav === */
header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0; 
    padding: 60px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   

    &__logo {
        color: $primary-color;
        font-size: 20px;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin: 0 0 0 30px;
    }

    &__link {
        color: $primary-color;
    }

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }
    
    &__burger {
        width: 22px;
        height: 3px;
        background-color: $primary-color;
        border-radius: 5px;
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 30px 0;
    transition: ease 0.2s;
}

/* === Home === */
.home {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 160px 0 150px 0;
    margin-left: auto;
    margin-right: auto;


    &__img {
        width: 50%;
        height: auto;
    }

    img {
        width: 100%;
    }

    &__content {
        align-self: center;
        width: 45%;
        height: auto;        
    }

    &__title {
        color: $primary-color;
        font-size: 42px;
        font-weight: normal;
        margin: 0 0 20px 0;
        line-height: 1.35;
    }

    &__description {
        color: lighten($primary-color, 15);
        line-height: 1.7;
        font-size: 18px;
        margin: 0 0 40px 0;
    }

    &__btn {
        background-color: $primary-color;
        padding: 15px 40px;
        border-radius: 4px;
        color: white;
        box-shadow: 0 3px 10px rgba(222, 67, 96,.2);
        transition: ease 0.2s;
    }

    &__btn--2 {
        background-color: #f7f5f5;
        color: #212121;
    }

    &__btn:hover {
        background-color: darken($primary-color, 10);           
    }

    &__btn--2:hover {
        background-color: darken(#f7f5f5, 10);
    }
}

@import 'responsive';
@import 'utilities';
@import 'animations';



