@import 'configs';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

body {
    background-color: #ffff;
}

/* === Nav === */
header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0; 
    padding: 60px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   

    &__logo {
        color: $primary-color;
        font-size: 20px;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin: 0 0 0 30px;
    }

    &__link {
        color: $primary-color;
    }

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }
    
    &__burger {
        width: 22px;
        height: 3px;
        background-color: $primary-color;
        border-radius: 5px;
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 30px 0;
    transition: ease 0.2s;
}

/* === Home === */
.home {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 180px 0 130px 0;
    margin-left: auto;
    margin-right: auto;


    &__img {
        width: 50%;
        height: auto;
    }

    img {
        width: 100%;
    }

    &__content {
        align-self: center;
        width: 45%;
        height: auto;        
    }

    &__title {
        color: $primary-color;
        font-size: 42px;
        font-weight: normal;
        margin: 0 0 20px 0;
        line-height: 1.35;
    }

    &__description {
        color: lighten($primary-color, 15);
        line-height: 1.7;
        font-size: 18px;
        margin: 0 0 40px 0;
    }

    &__btn {
        background-color: $primary-color;
        padding: 15px 40px;
        border-radius: 4px;
        color: white;
        box-shadow: 0 3px 10px rgba(222, 67, 96,.2);
        transition: ease 0.2s;
    }

    &__btn--2 {
        background-color: #f7f5f5;
        color: #212121;
    }

    &__btn:hover {
        background-color: darken($primary-color, 10);           
    }

    &__btn--2:hover {
        background-color: darken(#f7f5f5, 10);
    }
}

/* === Services === */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 60px 0;

    &__title {
        font-size: 28px;
        font-weight: normal;
        align-self: center;
        text-align: center;
        max-width: 31.25rem;
        margin: 0 0 60px 0;
        line-height: 1.6;
        color: $primary-color;
    }

    &__content {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: repeat(3, 1fr);
    }

    &__icon {
        width: 70px;
        height: 70px;
        border-radius: 200px;
        background: #84BC46;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px auto;
        box-shadow: 0 4px 10px rgba(66, 77, 227,.2);
    }

    &__icon--2 {
        background: #eb346b;
    }

    &__icon--3 {
        background: $primary-color;
    }

    &__img {
        font-size: 24px;
        color: #fff;
    }

    &__subtitle {
        text-align: center;
        font-weight: normal;
        color: lighten($primary-color, 5);
        margin-bottom: 10px;
    }

    &__paragraph {
        text-align: center;
        color: lighten($primary-color, 15);
    }
}

/* === Reviews === */
.reviews {
    padding: 0 0 20px 0;
    background-color: $primary-color;   
    
    &__title {
        text-align: center;
        margin: 0 0 50px 0;
        font-size: 28px;
        font-weight: normal;
        align-self: center;
        line-height: 1.6;
        color: #fff;
    }

    &__container {
        width: 40%;
        margin: 0 auto;
        position: relative;
    }

    &__content {
        text-align: center;              
    }

    &__item {
        width: 100%;
    }

    &__testimony {
        font-size: 22px;
        font-style: italic;
        color: #fff;
        text-align: center;
        margin: 0 0 40px 0;
    }

    &__name {
        letter-spacing: 0.1ch;
        font-size: 20px;    
        text-align: center;
        color: darken($color: #fff, $amount: 10);
    }

    &__photo {
        width: 60px;
        height: 60px;
        display: block;
        object-fit: cover;
        border-radius: 100px;
        margin: 20px auto;    
    }
}

/* === Prices === */
.prices {

    &__title {
        text-align: center;
        font-size: 28px;
        color: $primary-color;
        font-weight: normal;
        margin: 0 0 20px 0;
    }

    &__description {
        color: lighten($primary-color, 15);
        line-height: 1.7;
        font-size: 18px;
        margin: 0 0 40px 0;
        text-align: center;
        white-space: pre-line;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    .card {
        padding: 60px 40px;
        text-align: center;  
        
        &__icon {
            font-size: 32px;
            margin: 0 0 5px 0;
            color: $primary-color;
        }

        &__title {
            font-weight: 300;
            font-size: 24px;
            color: lighten($primary-color, 10);
            margin: 0 0 10px 0;
        }

        &__price {
            font-size: 40px;
            font-weight: 600;
            color: $primary-color;
            margin: 0 0 20px 0;
        }

        &__description {
            margin: 0 0 10px 0;
            color: lighten($color: $primary-color, $amount: 20);
        }

        &__btn {
            color: $primary-color;
            padding: 10px 30px;
            border: 1px solid $primary-color;
            border-radius: 2px;
            font-weight: 600;
        }
    }

    .card--premium {
        box-shadow: 0 10px 35px rgba(0,0,0,.08); 
    }
    
}




@import 'responsive';
@import 'utilities';
@import 'animations';



