@import 'configs';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;   
    text-align: center; 
    margin: 0 0 2.813em 0;
}

body {
    background-color: #ffff;
}

/* === Nav === */
header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0; 
    padding: 3.75em 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   

    &__logo {
        color: $primary-color;
        font-size: 1.25rem;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin: 0 0 0 1.875em;
    }

    &__link {
        color: $primary-color;
    }

    &__bars {
        width: 60px;
        height: 35px;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 2; 
        cursor: pointer;   
        display: none;       
    }
    
    &__burger {
        width: 22px;
        height: 3px;
        background-color: $primary-color;
        border-radius: 5px;
    }
}

.sticky {
    background-color: #fafffb;
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    padding: 1.875em 0;
    transition: ease 0.2s;
}

/* === Home === */
.home {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10em 0 5.625em 0;
    margin-left: auto;
    margin-right: auto;


    &__img {
        width: 50%;
        height: auto;
    }

    img {
        width: 100%;
    }

    &__content {
        align-self: center;
        width: 45%;
        height: auto;        
    }

    &__title {
        color: $primary-color;
        font-size: 2.375rem;
        font-weight: normal;
        margin: 0 0 1.25em 0;
        line-height: 1.35;
    }

    &__description {
        color: lighten($primary-color, 15);
        line-height: 1.7;
        font-size: 1.125rem;
        margin: 0 0 2.5em 0;
    }

    &__btn {
        background-color: $primary-color;
        padding: 15px 40px;
        border-radius: 4px;
        color: white;
        box-shadow: 0 3px 10px rgba(222, 67, 96,.2);
        transition: ease 0.2s;
    }

    &__btn--2 {
        background-color: #f7f5f5;
        color: #212121;
    }

    &__btn:hover {
        background-color: darken($primary-color, 10);           
    }

    &__btn--2:hover {
        background-color: darken(#f7f5f5, 10);
    }
}

/* === Services === */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        align-self: center;
        max-width: 31.25rem;
        line-height: 1.6;
        color: $primary-color;
    }

    &__content {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: repeat(3, 1fr);
    }

    &__icon {
        width: 60px;
        height: 60px;
        border-radius: 200px;
        background: #84BC46;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1.25em auto;
        box-shadow: 0 4px 10px rgba(66, 77, 227,.2);
    }

    &__icon--2 {
        background: #eb346b;
    }

    &__icon--3 {
        background: $primary-color;
    }

    &__img {
        font-size: 1.5rem;
        color: #fff;
    }

    &__subtitle {
        text-align: center;
        font-weight: normal;
        color: lighten($primary-color, 5);
        margin-bottom: 0.625em;
    }

    &__paragraph {
        text-align: center;
        color: lighten($primary-color, 15);
        line-height: 1.7;
    }
}

/* === Reviews === */
.reviews {
    background-color: $primary-color;  
    
    &__title {
        align-self: center;
        line-height: 1.6;
        color: #fff;
    }

    &__container {
        width: 50%;
        max-width: 100%; 
        margin: 0 auto;
    }

    &__content {
        text-align: center;       
    }

    &__item {
        width: 100%; 
    }

    &__testimony {
        font-size: 1.188rem;
        font-style: italic;
        color: darken(#fff, 5);
        text-align: center;
        margin: 0 0 5em 0;
    }

    &__name {
        letter-spacing: 0.1ch;
        font-size: 1.25rem;    
        text-align: center;
        color: darken(#fff, 15);
    }

    &__photo {
        width: 70px;
        height: 70px;
        display: block;
        object-fit: cover;
        border-radius: 100px;
        margin: 1.25em auto 3.75em auto;    
    }
}

/* === Prices === */
.prices {

    &__title {
        color: $primary-color;
    }

    &__description {
        color: lighten($primary-color, 15);
        line-height: 1.7;
        font-size: 1.125rem;
        margin: 0 0 2.5em 0;
        text-align: center;
        white-space: pre-line;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        justify-content: center;
        align-items: center;
    }

    .card {
        padding: 3.75em 2.5em;
        text-align: center;  
        
        &__icon {
            font-size: 1.875rem;
            margin: 0 0 0.313em 0;
            color: $primary-color;
        }

        &__title {
            font-weight: 300;
            font-size: 1.5rem;
            color: lighten($primary-color, 10);
            margin: 0 0 0.625em 0;
        }

        &__price {
            font-size: 2.5rem;
            font-weight: 600;
            color: $primary-color;
            margin: 0 0 1.25em 0;
        }

        &__description {
            margin: 0 0 0.625em 0;
            color: lighten($color: $primary-color, $amount: 20);
        }

        &__description--last {
            margin: 0 0 1.875em;
        }

        &__btn {
            color: $primary-color;
            padding: 15px 40px;
            border: 1px solid $primary-color;
            border-radius: 4px;
            font-weight: 700;
            font-size: 0.813rem;
            text-transform: uppercase;
            line-height: 55px;
            letter-spacing: .65px;
            transition: ease 0.2s;
        }

        &__btn--premium {
            background-color: $primary-color;
            color: #fff;
        }

        &__btn:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

    .card--premium {
        box-shadow: 0 20px 35px rgba(0,0,0,.10); 
    }
    
}

/* === Contact === */
.contact {
    background-color: $primary-color;

    &__container {
        display: flex;
    }

    &__title {
        font-size: 1.625rem;
        font-weight: normal;
        max-width: 18.75rem;
        color: #fff;
        margin: 0 0 2.5em 0;
    }

    &__icon--c {
        display: flex;
        margin: 0 0 1.563em 0;
    }

    &__icon {
        font-size: 1.5rem;
        color: #fff;     
        margin: 0 0.625em 0 0;   
    }

    &__paragraph {
        font-size: 1.5rem;
        color: #fff;
    }

    .form {
        width: 50%;
        background-color: #f5f5f5;
        border-radius: 6px;
        margin-left: auto;
        padding: 2.188em;

        &__title {
            text-align: center;
            font-size: 1.5rem;
            color: darken($primary-color, 20);
            letter-spacing: 0.5px;
        }

        &__description {
            text-align: center;
            font-size: 1rem;
            color: lighten($primary-color, 15);
            margin: 0 0 1.25em 0;
        }

        &__label {
            height: 56px;
            margin: 0.625em auto;
            width: 100%;
            border-radius: 3px;
            border: 1px solid #e5e9f2;
            color: #495057;
            padding: 0 1.25em;
            font-size: 1rem;
        }

        &__textarea {
            width: 100%;
            margin: 0.625em 0;
            border-radius: 3px;
            border: 1px solid #e5e9f2;
            outline: none;
            color: #495057;
            padding: 0.625em 1.25em;
            font-size: 1rem;
        }

        &__btn {
            width: 100%;
            height: 50px;
            border: none;
            background-color: $primary-color;
            color: #fff;
            border-radius: 3px;
            border: 1px solid #e5e9f2;
            cursor: pointer;
        }

        &__btn:hover {
            background-color: darken($primary-color, 10);               
        }

    }

}

@import 'responsive';
@import 'utilities';
@import 'animations';



